.button {
  &.max {
    width: 100%;
  }
  &.max-mobile {
    @include mobile {
      width: 100%;
    }
  }
  &.quarter-tablet {
    @include tablet {
      width: 25%;
    }
  }
}

.break {
  background-color: rgba(0,0,0,0);
  padding: 0;
  border: none;
  color: #485fc7;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #363636;
  }
}
