@include desktop {
  .block-centered-desktop {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.container {
  @include mobile {
    min-width: 90%;
  }
  @include tablet {
    min-width: 400px;
  }
}

.under-line-link {
  text-decoration: underline;
}
