@charset "utf-8";

.footer {
  background-color: white;
  padding: 1.5rem 1rem !important;
  font-size: 14px !important;

  &-item {
    list-style: none;
  }

  &-icon {
    .icon {
      height: 1.75rem;
      width: 1.75rem;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
