section.hero {
  .hero-body {
    .title {
      line-height: 1.5;
      margin-top: 0;
      font-weight: 600 !important;
    }
    .subtitle {
      line-height: 1.6;
      font-size: 18px !important;
      font-weight: bold;
    }
  }

  .button {
    border: #D8C54A solid 1px;
    font-weight: bold;
  }
}
