script async="" src="https://www.googletagmanager.com/gtag/js?id=G-D276J9CM1X"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D276J9CM1X');

  if (#{raw current_user.to_json}) {
    gtag('set', {'user_id': #{raw current_user.to_json}.id);
  }
